body {background-color:black;}
.style1 {background-color:black; color:white;}
.style2 {font-style:italic; font-weight:bold; color:brown;}
.style3 {font-style:italic; font-weight:bold; color:green;}
.white  {font-style:normal; font-weight:bold; color:white;}
